<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJVoFlTchejalDPELB51V9w6Uf8VDRpOM</string>
	<key>GCM_SENDER_ID</key>
	<string>731332330020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MPM.Biddle</string>
	<key>PROJECT_ID</key>
	<string>biddle-11feb</string>
	<key>STORAGE_BUCKET</key>
	<string>biddle-11feb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731332330020:ios:6413b78f3e76e9626c4eb1</string>
</dict>
</plist>